<% unless current_user?(@user) %>
  <div id="follow_form">
  	<div class="post-btn">
		  <% if current_user.following?(@user) %>
		    <%= render 'unfollow' %>
		  <% else %>
		    <%= render 'follow' %>
		  <% end %>
		</div>
  </div>
<% end %>