<% provide(:title, 'People to Follow') %>
<div class="panel panel-default">
	<div class="panel-body">
		<h1><small>Follow atleast 5 People to start enjoying 6TERS</small></h1>
	</div>
</div>

<%= will_paginate %>

<ul class="users">
  <%= render @users %>
</ul>

<%= will_paginate %>