<div class="container">
  <footer class="footer">
    <small>
      <a href="https://my6ters.herokuapp.com/">6TERS</a>
      by <a href="https://www.facebook.com/tweet.hemron">Tweet Hemron</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "Help", help_path %></li>
        <li><%= link_to "About",   about_path %></li>
        <li><%= link_to "Contact", contact_path %></li>
      </ul>
    </nav>
  </footer>
</div>