<div class="container">
  <footer class="footer">
    <small>
      <a href="https://6ters.com/">6TERS</a>
      by <a href="https://www.facebook.com/tweet.hemron">Tweet Hemron</a>. Follow on Facebook
      <%= link_to image_tag("facebook.png", alt: "fb", class: "fb-logo"), "https://www.facebook.com/tweet.hemron" %>
    </small>
    <nav>
      <ul>
        <li><%= link_to "Help", help_path %></li>
        <li><%= link_to "About",   about_path %></li>
        <li><%= link_to "Contact", contact_path %></li>
      </ul>
    </nav>
  </footer>
</div>